.div__navbar {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.icon__menu {
    /* grid-column: span 1; */
    justify-self: center;
}

.icon__account {
    grid-column: 5;
}

.icon__cart {
    grid-column: 6;
}
