.menu_cont {
  height: 100%;
  position: fixed;
  background: #fff;
  display: flex;
  padding-right: 47px;
  z-index: -10;
}

.menu__div {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 100px 30px;
  font-size: 14px;
  background: #fff;
}

.p__strong {
  font-size: 21px;
  font-weight: bold;
  padding: 0;
}

.icon__menuClose {
  width: 20px;
}
